<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title of the document</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

        <style>

            body {
                background-color: black;
            }

            #playground{
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }

        </style>

    </head>

    <body>
        <div id="playground" v-bind:style="styleObject()" v-on:keypress="move('keypress', $event)" v-on:keyup="move('keyup', $event)" v-on:keydown="move('keydown', $event)"  tabindex="0" autofocus>

            <player></player>

            <div v-for="row in field">

                <div v-for="col in row">

                    <tile v-bind:row="col.row" v-bind:col="col.col" v-bind:is-border="isBorder(col.row, col.col)" v-bind:is-block="isBlock(col.row, col.col)"></tile>
                </div>

            </div>
            <div style="clear:both;"></div>
        </div>

        <!-- components -->
        <script src="components/player.js"></script>
        <script src="components/tile.js"></script>

        <!-- app -->
        <script src="./vue-app.js"></script>

    </body>

</html>